@midnightBlue: #2c3e50;
@white: #fff;
@cloud: #ecf0f1;
@sunFlower: #f1c40f;
@orange: #f39c12;
@fontFamily: 'Lato', sans-serif;
@wetAsphalt: #34495e;
@silver: #bdc3c7;
@turquoise: #1abc9c;
@warning:#e74c3c;
@headline: 20px;
