<form class="form-box" name="myForm" role="form">
    <div class="form-content">
        <div class="form-group">
            <label for="e-mail"><i class="fa fa-user icon-input"></i>Username</label>
            <input type="email" required class="form-control" id="e-mail" placeholder="user@example.com" ng-model="username">
        </div>
        <div class="form-group">
            <label for="password"><i class="fa fa-lock icon-input"></i>Password</label>
            <input type="password" required class="form-control" id="password" placeholder="Password" ng-model="password">
        </div>
        <input type="button" ng-click="userLogin()" class="btn btn-lg btn-block btn-submit" value="Submit"/>
    </div>
</form>
<div class="register">
    <a href="#/register" class="register-link">Not a member yet ? Register!</a>
</div>

