<h2 class="headline">Share Your Trip</h2>
<form class="form-box" ng-submit="addShareDb()" role="form">
    <div class="form-content">
        <label for="activity">Name of event</label>

        <div class="form-group">
            <input type="text" class="form-control" id="activity" required ng-model="activityName">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="true" id="isActivity"> Create Activity
            </label>
        </div>
        <div class="form-group">
            <label for="feelings">What's the mood over there ?</label>
            <select class="form-control" id="feelings" required ng-model="feelings">
                <option value="happy">Happy</option>
                <option value="excited">Excited</option>
                <option value="tender">Tender</option>
                <option value="scared">Scared</option>
                <option value="sad">Sad</option>
                <option value="angry">Angry</option>
            </select>
        </div>
        <input type="submit" class="btn btn-lg btn-block btn-submit" value="Submit"/>
    </div>
</form>

<div class="map-control">
    <button class="btn btn-default btn-xs" ng-click="changeMap()" id="roadmap">Roadmap</button>
    <button class="btn btn-default btn-xs" ng-click="changeMap()" id="hybrid">Hybrid</button>
    <button class="btn btn-default btn-xs" ng-click="changeMap()" id="satellite">Satellite</button>
    <button class="btn btn-default btn-xs"ng-click="changeMap()" id="terrain">Terrain</button>
</div>

<div class="logout">
    <button type="button" class="btn btn-lg btn-default" ng-click="logout()">
        <span class="glyphicon glyphicon-log-out"></span> Exit
    </button>
</div>
