<form class="form-box">
    <div class="form-content">
        <div class="form-group">
            <label for="activity">Share your activity</label>

            <div class="input-group">
                <span class="input-group-addon input-icon-left">#</span>
                <input type="text" class="form-control" id="activity" ng-model="activity">
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="isActivity"> Create Activity
            </label>
        </div>
        <div class="form-group">
            <label for="feelings">How do you feel?</label>
            <select class="form-control" id="feelings" nd-model="feelings">
                <option value="happy">Happy</option>
                <option value="excited">Excited</option>
                <option value="tender">Tender</option>
                <option value="scared">Scared</option>
                <option value="sad">Sad</option>
                <option value="angry">Angry</option>
            </select>
        </div>
        <button type="submit" class="btn btn-lg btn-block btn-submit">Submit</button>
    </div>
</form>

<div class="logout" ng-controller="LoginController">
    <button type="button" class="btn btn-lg btn-default">
        <span class="glyphicon glyphicon-log-out"></span> Exit
    </button>
</div>
